@import"../../../styles/vars";
.menu{   
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu__ul{
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}
.close{
    align-self: flex-end;
    padding: 0;
    border: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secundary;
    &::before{
        color: $color-primary;
        font-size: 2.5rem;
    }
    &:hover{
        cursor: pointer;
    }

}
.menu__li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide{
    transform: translateX(-100%);
}
@media #{$tablets}{
    
}
@media #{$desktops}{
   
}