@import"../../../styles/vars";
.menu{   
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu__ul{
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}
.close{
    align-self: flex-end;
    padding: 0;
    border: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secundary;
    &::before{
        color: $color-primary;
        font-size: 2.5rem;
    }
    &:hover{
        cursor: pointer;
    }

}
.link{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
    color: $color-primary;
    font-weight: 200;
    line-height: 2;
    padding-right: 4rem;
    &:hover{        
        color: $color-secundary;
        background-color: $color-primary;
    }
    &::before{
        margin: 0 1.5rem;
    }
}
.hide{
    transform: translateX(-100%);
}
@media #{$tablets}{
    
}
@media #{$desktops}{
   
}