@import"../../../../styles/vars";

.container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;   
}
.knows{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: column wrap;
    text-align: left;
}
.knows__element{
    margin-bottom: 2.2rem;
}
.title{
    margin-bottom: 6rem;
}

@media #{$landscape-phones}{
    .container{
        width: 80%;
    }
    .knows{
        flex-direction: row;
    }    
    .knows__element{
        width: 45%;

    }
}