@import"normalize.css/normalize";
@import"../../../../styles/vars";
@import"../../../../styles.scss";
@import"/node_modules/bootstrap-icons/font/bootstrap-icons";
app-social-media{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
app-social-media ul.social{
	&:first-of-type{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 2rem 1rem 2rem 10%;
		.social__li{
			margin: 0 .5rem;
			flex: 0;
		}
	}
	.link--socialMediaHeader{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
		font-size: 0;	
		padding: 0;
		&::before{
			display: block;
			position: relative;
			font-size: 1.5rem;
			width: 1.5rem;
			visibility: visible;
		}		
	}

}