@import"../../../../styles/vars";
@import"../../../../styles/mixins";
:host{
    @include gradient(to right);
}
*{
    box-sizing: border-box;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 10%;
    margin-left: auto;
    margin-right: auto;
    >*{
        margin-bottom: 1rem;
    }
}
.form__divContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}
.labelMessage{
    margin-bottom: 2rem;    
    font-size: $font-inputText;
    text-transform: capitalize;
}
.TextArea{
    min-width: 100%;
    max-width: 100%;
    resize: none;
    padding: .8rem;
}
.send{
    margin-left: auto;
    padding: .5rem 2rem;
    background-color: $color-buttomSend;
    color:$color-primary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: $letter-spacing*1.2;
    border: 0;
    cursor: pointer;
    &:disabled{
        background-color: $gray;
        opacity: .6;
        cursor: auto;
    }
}
.form__error{
    padding: .3rem 0;
    border: .15rem solid $color-error;
    color: $color-error;
    margin-top: .4rem;
}
@media #{$tablets}{
    .form{
        justify-content: space-between;
        width: 100%;   
        flex-flow: row wrap;
        .form__divContainer{

            &:nth-child(1),&:nth-child(2){
                width: 45%;
            }
        }
    }    
}
@media #{$desktops}{
    .form{
        app-file{
            &:nth-child(1),&:nth-child(2){
                width: 45%;
            }
        }
    }
    
}