
<div class="container">
    <app-article-title [number]="number" [title]="title"></app-article-title>
    <p class="about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto adipisci aperiam repudiandae fuga corrupti tempora blanditiis? Enim rerum, voluptates cumque sapiente atque laboriosam quisquam culpa iusto dolorum vel dignissimos blanditiis sit voluptate, tempore, tenetur ad corporis quis quos aliquam. Iure.</p>
    <input class="btn" type="button" value="Download CV">
</div>
<app-data class="app-data"></app-data>
