@import "./vars";
@font-face {
    font-family:'Open Sans', sans-serif;
    src: ('assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}
body{
    width: 100%;
	text-align: center;
    margin: 0 auto;
    color: $color-secundary;
    background-color: $color-primary;
    font-family:'OpenSans', sans-serif;
    font-size: 85%;
    letter-spacing: $letter-spacing;
    word-spacing: $word-spacing; 
    line-height:$line-height;
    border: .001rem solid $color-secundary;
}
*{
    box-sizing: border-box;

}
html, body{
    scroll-behavior: smooth;
    font-size: .92rem;
    
}
h1{
    font-size: $font-h1;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    padding-right: 2rem;
}
h2,h3{    
    line-height:1.2;
    font-weight: 100;
    margin: 0 0 .2rem 0;
}
h3{
    font-size: $font-h3;
}
h4{
    font: $font-h4;
    margin: 0;
}    
h2{
    font-size: $font-h2;
    color: $color-h2Number;
}
img,video{
    max-width: 100%;
    height: auto;
}
p{
    font-weight: 100;
    font-size: $font-p;
}
a{
    text-decoration: none;
    font-size: $font-a;
    color:$color-secundary;
    &:visited{
        color: $color-h2Number;
    }
}
button{
   border: 0;
   padding: 0;     
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $color-secundary;
    &:active{
        transform: scale(.98);
    }
}
textarea{
    box-sizing: border-box;
    font: inherit;
    font:$font-inputText;
}
label{
    text-align: left;
}
::placeholder{
    color:$color-primary;    
    text-transform: capitalize;
}
:focus{
    outline: 0;
    box-shadow: 0 0 .2rem 0 $color-secundary;  
    border: 0;
}
[type="submit"]{
    border: 0;
}
button,
input,
optgroup,
select,
textarea{    
    line-height:$line-height;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
[type="text"]{
    background-color: transparent;
    padding-top: .5rem;
    color: $color-secundary;
    border: 0;
    border-bottom: .05rem solid $color-text;
    font-weight: 100;
    font-size:$font-inputText;
}
textarea{
    font-size:  $font-inputText;
}
span{
    color:$color-h2Number;
    font-size:$font-span;
}
@media #{$landscape-phones}{
    html, body{
        font-size: 1rem;
    }  
}
@media #{$tablets}{
    html, body{
        font-size: 1.2rem;
    }
    h1{
       /*  font-size: $font-h1*1.2; */
        line-height: 1.2;
    }
}
@media #{$desktops}{
    html, body{
        font-size: 1.3rem;
    }
}
@media #{$large-desktops}{
    html, body{
        font-size: 1.40rem;
    }
}
@media #{$extra-large-desktops}{
    html, body{
        font-size: 1.5rem;
    }
}

@media #{$four-k}{
    html, body{
        font-size: 1.6rem;
    }
}