@import "./vars";
body{
    width: 100%;
	text-align: center;
    margin: 0 auto;
    color: $color-secundary;
    background-color: $color-primary;
    font-family:'OpenSans-Light', sans-serif;
    font-size: 85%;
    letter-spacing: $letter-spacing;
    word-spacing: $word-spacing; 
    line-height:$line-height;
    border: .001rem solid $color-secundary;
}
*{
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
html, body{
    scroll-behavior: smooth;
    font-size: .92rem;
    
}
h1{
    font-family: 'OpenSans-SemiBold',sans-serif;
    font-size: $font-h1;
    text-align: left;
    padding-right: 2rem;
}
h2,h3{ 
    font-weight: 100;
    margin: 0 0 .2rem 0;
}
h3{
    font-family: 'OpenSans-SemiBold',sans-serif;
    font-size: $font-h3;
}
h4{
    font: $font-h4;
    margin: 0;
    font-family: 'OpenSans-SemiBold',sans-serif;
}    
h2{
    font-size: $font-h2;
    color: $color-h2Number;
    font-family: 'OpenSans-ExtraBold',sans-serif;
}
img,video{
    max-width: 100%;
    height: auto;
}
p{
    font-weight: 100;
    font-size: $font-p;
}
a{
    text-decoration: none;
    font-size: $font-a;
    color:$color-secundary;
}
button{
   border: 0;
   padding: 0;     
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $color-secundary;
   cursor: pointer;
    &:active{
        transform: scale(.95);
    }
}
textarea{
    box-sizing: border-box;
    font: inherit;
    font:$font-inputText;
}
label{
    text-align: left;
}
span{
    font-family: 'OpenSans-SemiBold',sans-serif;
}
::placeholder{
    color:$color-primary;    
    text-transform: capitalize;
}
a:focus-visible{
    outline: 0;
}
button:focus-visible,
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible{
    outline: 0;
}


a:active{
    box-shadow: none;
    transform: scale(.95);
}
[type="submit"]{
    border: 0;
}
a,
button,
input,
optgroup,
select,
textarea{    
    line-height:$line-height;
    box-sizing: border-box;
    border:0;    
    &:focus{
        outline: 0;
        box-shadow: 0 0 0 .1rem $color-secundary  
    }
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
[type="text"],textarea{
    background-color: transparent;
    padding-top: .5rem;
    color: $color-secundary;
    border-bottom: .05rem solid $color-text;
    font-weight: 100;
    font-size:$font-inputText;
}
strong{
    color:$color-h2Number;
    text-transform: capitalize;
}
@media #{$landscape-phones}{
    html, body{
        font-size: 1rem;
    }  
}
@media #{$tablets}{
    html, body{
        font-size: 1.2rem;
    }
    h1{
       /*  font-size: $font-h1*1.2; */
        line-height: 1.2;
    }
}
@media #{$desktops}{
    html, body{
        font-size: 1.3rem;
    }
}
@media #{$large-desktops}{
    html, body{
        font-size: 1.40rem;
    }
}
@media #{$extra-large-desktops}{
    html, body{
        font-size: 1.5rem;
    }
}

@media #{$four-k}{
    html, body{
        font-size: 1.6rem;
    }
}