@font-face {
    font-family: 'OpenSans-Light';
    src: url('/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('/assets/fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf');
}