
$black:#000000;
$white:#ffffff;
$beige:#a99561;
$beige-2:#a99561;
$gray:#a7a7a7;
$gray2:#373737;
$gray3:#a1a1a1;
$gray4:#767676;
$red:rgb(255, 0, 0);

$color-primary:$black;//color más usado
$color-secundary:$white;
$color-h2Number:$beige;
$color-text:$gray;
$color-text-know:$gray3;
$color-text-know2:$gray4;
$color-lines:$gray2;
$color-buttomSend:$beige-2;
$color-error:$red;

$phones:"(min-width:24rem)";
$landscape-phones:"(min-width:36rem)";// Small devices (landscape phones, 576px and up)
$tablets:"(min-width:48rem)";// Medium devices (tablets, 768px and up)
$desktops:"(min-width:62rem)";//Large devices (desktops, 992px and up)
$large-desktops:"(min-width:75rem)";// Big large devices (large desktops, 1200px and up)
$extra-large-desktops:"(min-width:110rem)";// 1760px and up)
$four-k:"(min-width:160rem)";//4k...1760px and up

/*tamaños base*/
$font-size-header-project:1.2rem;

$font-h1:2.3rem;
$font-h2:3rem;
$font-h3:2.46rem;
$font-h4:1.3rem;
$font-dataHeader:1.5rem;
$font-p:1.1rem;
$font-a:.8rem;
$font-span:1.2rem;
$font-btn:1.5rem;
$font-inputText:.8rem;
$line-height:1.5;
$letter-spacing:0.05rem;
$word-spacing: 0.1rem; 

/*
font-family: 'Montserrat', sans-serif;
*/
/* 
@media #{$phones}{

}
@media  #{$landscape-phones}{
   
}
@media  #{$tablets}{
  
}
@media  #{$desktops}{
   
}
@media  #{$large-desktops}{
   
}
@media  #{$extra-large-desktops}{
    
}
@media  #{$four-k}{
   
} */