@import"../../../../styles/_vars";
@import"../../../../styles/mixins";
.wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0 0 1rem;
    height: 25rem;
    background-color: rgba($color-primary, $alpha: .8);
    &:hover{
        transition: background-color 1.5s ease;
        background-color: transparent;
    }
}
.container{
    background-size: 100%;
    overflow-y: hidden;
}
.move{
    animation: MoveImg 5s linear alternate 2;
}
.more{
    align-self: flex-end;
    transform: rotate(90deg);
    position: relative;
    top:-2rem;
    right: -2rem;
    font-size: .9rem;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font-size-header-project;
}
.title,.number{
    text-align: left;
}
.number{
    color:$color-h2Number;
    font-weight: 900;
}
.github{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}
.github__element{
    font-size: 2rem;
    margin-right: 1rem;
    &:first-of-type{
        margin-right: auto;
    }
}
.github__el{
    &:first-of-type{
        margin-right: auto;
    }
   margin-right: .4rem;
}
.setColor{
    color: $color-primary;
    text-shadow: .1rem .1rem .3rem .3rem $color-primary;
}
