@import"../../../../styles/_vars";
@import"../../../../styles/mixins";
.wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0 0 1rem;
    height: 25rem;
    background-color: rgba($color-primary, $alpha: .8);
    &:hover{
        transition: background-color 1.5s ease;
        background-color: transparent;
    }
}
.container{
    background-size: 100%;
    overflow-y: hidden;
    position: relative;
}
.move{
    animation: MoveImg 5s linear alternate 2;
}
.more{
    align-self: flex-end;
    transform: rotate(90deg);
    position: relative;
    top:-2rem;
    right: -2rem;
    font-size: .9rem;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font-size-header-project;
}
button{
    font-size: 2rem;
}
.closee{
    padding: 0;
    border: 0;
    align-self: flex-end;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
    }
    &:hover{
        cursor: pointer;
    }
}
input[type=button]{
    color: white;
}
.title,.number{
    text-align: left;
}
.number{
    color:$color-h2Number;
    font-weight: 900;
}
.github{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}
.bi-info-circle{
    &:hover{
        color:white
    }
}

.github__el{
    &:first-of-type{
        margin-right: auto;
        position: relative;
        z-index: 50;
    }
   margin-right: .4rem;
}
.setColor{
    color: $color-primary;
}
.description{
    text-align: left;
    position: absolute;
    z-index: 40;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: transform 1s ease;
    >*{
        font-size: .9rem;
    }
}
.moveDown{
    transform: translateY(0);
    animation-play-state: running;
}
.listTecnol{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.listTecnol__item{
    list-style: circle;
}
.pauseAnimation{
    animation-play-state: paused;
}
