<article class="container" id="id-skills">
    <app-article-title [number]="number" [title]="title" [change]="change"></app-article-title>
    <ul class="list">
        <li *ngFor="let item of list" class="list__item"><app-element-skill [title]=item.title [value]=item.value></app-element-skill></li>
    </ul>
    <p class="container__parraf">
        A grandes rasgos estas son las técnologias que domino, aunque no dejaré de mencionar otras herramientas y habilidades que también forman parte de mi curriculum y son más que necesarias en el mundo del desarrollo web, entre ellas: Las <strong>herramientas de desarrollo</strong> que nos ofrecen los navegadores,<strong>Responsive Web Desing</strong> ,administradores de paquetes como <strong>npm</strong> o yarn, conocer alguna buena métologia de css como <strong>bem</strong> ,dominar <strong>CSS grid</strong>, llevar el regitro de tu código en algún sistema de control de versiones como <strong>Git</strong>. Se que me falta mucho por aprender, pero bueno en el día a día, esa lista doy por seguro que crecerá.
    </p>
    <p class="container__parraf">
       
    </p>
</article>
