<article class="container">
    <app-article-title [number]="number" [title]="title" [change]="change"></app-article-title>
    <ul class="list">
        <li *ngFor="let item of list" class="list__item"><app-element-skill [title]=item.title [value]=item.value></app-element-skill></li>
    </ul>
    <p class="container__parraf">
        A grueso modo estas son las técnologias que domino, pero bueno no dejaré de mencionar otras que forman parte de mi curriculum
        y son más que necesarias en el mundo del desarrollo web :
    </p>
    <p class="container__parraf">
        <strong>Responsive Web Desing</strong>,manejar
        al menos un administrador de paquetes como <strong>npm</strong> o yarn,conocer alguna buena
        métologia de css como <strong>bem</strong> ,dominar <strong>flexbox</strong> y <strong>CSS grid</strong>, 
        tener bases fuertes en librerias como RxJs y llevar el control de tu código en algún sistema de control
        de versiones en mi caso <strong>Git</strong>. Se que me falta mucho por aprender y de seguro me queda
        algo por mencionar, pero bueno en el dia a día esa lista doy por seguro que creserá.
    </p>
</article>
