<article class="container" id="id-skills">
    <app-article-title [number]="number" [title]="title" [change]="change"></app-article-title>
    <ul class="list">
        <li *ngFor="let item of list" class="list__item"><app-element-skill [title]=item.title [value]=item.value></app-element-skill></li>
    </ul>
    <p class="container__parraf">
        A grandes rasgos estas son las técnologias que domino, aunque no dejaré de mencionar otras herramientas y habilidades que también forman parte de mi curriculum y son más que necesarias en el mundo del desarrollo web, entre ellas: Las <strong>herramientas de desarrollo</strong> que nos ofrecen los navegadores, <strong>Responsive Web Desing</strong>, el administrador de paquetes <strong>npm</strong>, la métologia de css <strong>bem</strong>, <strong>CSS grid</strong>, así como llevar el regitro del código en algún sistema de control de versiones, en mi caso <strong>Git</strong>. Se que me falta mucho por aprender, pero en el día a día, esta lista doy por seguro que crecerá.
    </p>
    <p class="container__parraf">
       
    </p>
</article>
