@import"../../../../styles/vars";
@import"../../../../styles/mixins";
app-article-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    >*{
        margin-bottom: 3rem;
    }
}
@media #{$tablets}{   
    .container{
       flex-direction: row;
       >*{
           margin-bottom: 0;
       }
    }
    app-form{
       flex: 1 1;
    }
    app-datar{
        align-self: stretch;
        width: 34%; /* 540/1920 */
    }
}
@media #{$desktops}{   
   
}
@media #{$desktops}{   
   
}

