@import"../../../../styles/vars";
@import"../../../../styles/mixins";
:host{

}
app-article-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    >*{
        margin-bottom: 3rem;
    }
}
@media #{$tablets}{   
    .container{
       flex-direction: row;
    }
    app-form{
        flex: 1 1;
    }
    app-data {
        width: 35% ;  
    }
    app-data div.container ul.ulData{
        flex-direction: column;
        justify-content: space-around;
    }
}