@import"../../../../styles/vars";
:host{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    width: 100%;
}
.text{
    text-transform: capitalize;
    font-size: $font-inputText;
}