@import "../../../../styles/vars";
.header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &::after{
        content: "";        
        height: 100%;
        width: .1rem;
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu{
        margin: 1.2rem 0 3rem 1rem;
    }
}

.containerMenu{
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    position: relative;
}

.data{
    display: flex;
    flex-direction: column;
    align-self: center;
    >*{
        margin-bottom: 3rem;
    }
}
.nombre,h1{
    margin: 0;
}
.nombre{
    color: $gray;
    text-align: left;
    margin-bottom: 1rem;
}
app-menu{
    position: absolute;
    z-index: 1000;
    width: 95vw;
    height: auto;
    background-color: $color-secundary;
}
.menu{
   
    position: relative;
    z-index: 20;
    color:$color-secundary;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    &:hover{
        cursor: pointer;
    }
}
.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    z-index: 10;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 100%;
    border: .1rem solid $gray;
}
.personal{
    position: relative;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: .1rem solid $color-secundary;
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        z-index: -1;
    }
}
.contact{
    display: none;
}
app-social-media{
   display: none;
}
@media #{$tablets}{
    .data{
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin-left: auto;
        padding-top: 2.5rem;        
    }
    .header{
        flex-direction: row;
        background: linear-gradient(90deg, rgba(255,255,255,0) 48%, $color-lines 48%, $color-lines 48.5%, rgba(255,255,255,0) 48.5%);
        background-size: 20%;
        background-origin: margin-box;
    }
    .personal{
        width: 35%;
        margin-top: 4rem;
        position: relative;
        top: -3rem;
    }
    
    .container{
        width:50%;
        padding: 0;
        margin-left: 0;
    }
    .contact{
        width: 20%;
    }
    .containerMenu{
        position: absolute;
        top: 0;
        height: 27rem;
        width: 4rem;
        background: linear-gradient(to bottom, rgba(28,28,28,0.17130602240896353) 0%, rgba(0,0,0,0) 100%);
        .menu{
            margin-left: 0;
        }
    }
    app-social-media{
        display: flex;
        transform: rotate(90deg);
    }
}
@media #{$desktops}{
    app-menu{
        width: 40vw;
    }
   
}
@media #{$large-desktops}{
    .personal{
        margin-left: 0;
    }
}

