<header class="header" id="id-header">
    <app-menu *ngIf="hide" class="appMenu"></app-menu>
    <div class="containerMenu">
        <button class="bi bi-list-nested menu" (click)=showMenu()></button>
        <app-social-media></app-social-media>
    </div>
    <div class="data">
        <div class="container">
            <p class="nombre">{{nombre}}</p>
            <h1 class="h1">{{h1}}</h1>    
        </div>
        <div class="personal">
            <img class="img" src="assets/img/personal.jpg" alt="" srcset="">
        </div>
        <a href="#" class="contact link" href="#id-contact">{{contact}}</a>
    </div>    
</header>
